
#root {
-fx-background-image:url('../../images/background.png');
}

.pseudo {
	-fx-text-fill: white;
}

.hand {
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.min-blind {
	-fx-font-size: 15px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.log {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-color: aqua; 
}

.label-token {
	-fx-text-fill: white;
}

.label-bet {
	-fx-text-fill: white;
	-fx-padding: 5px;
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

/* BUTTON */

.button_play {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 15 12 15;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button_play:pressed {
	 -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
}

.button_play Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.button_slider {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
}

.button_slider:pressed {
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);	
}

.button_slider Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}